.terminal {
    background-color: rgb(43, 51, 59);
    color: rgb(232, 240, 248);
    font-family: monospace;
    border-radius: 16px;
}

.grid-item {
    padding: 10px;
}

#commandline {
    padding: 20px;
}

#commandline-output {
    font-size: smaller;
    margin: 6px;
    padding: 6px;
    height: 540px;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#commandline-output::-webkit-scrollbar {
    display: none;
}

#main-div {
    padding: 16px;
}